@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    var flag = true
    function myfun() {
        setInterval(function () {
            $.post("/home/test", function (v) {
                console.log("流长度：" + v);
            });
        },1000)

    }

    function close() {
        flag = false;
    }


</script>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    <input type="button" onclick="myfun()" value="开始" />
    <input type="button" onclick="close()" value="结束" />
</div>